body {
  background-color: #292929;
  color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
h1,
h3 {
  margin: 0;
  padding: 0;
}
.login-card {
  padding-top: 55%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#image-logo {
  max-width: 100px;
}

.back {
  color: aliceblue;
  background-color: #292929;
  outline: none;
  border: none;
  cursor: pointer;
}
